/*Starting with smallest responsive state, vertical phone*/
/*Global Elements*/
@font-face {
    font-family:Arima Madurai;
    src: url("../fonts/ArimaMadurai-Thin.ttf");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family:Arima Madurai;
    src: url("../fonts/ArimaMadurai-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family:Arima Madurai;
    src: url("../fonts/ArimaMadurai-Light.ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family:Arima Madurai;
    src: url("../fonts/ArimaMadurai-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:Arima Madurai;
    src: url("../fonts/ArimaMadurai-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family:Arima Madurai;
    src: url("../fonts/ArimaMadurai-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family:Arima Madurai;
    src: url("../fonts/ArimaMadurai-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family:Arima Madurai;
    src: url("../fonts/ArimaMadurai-Black.ttf");
    font-weight: 900;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
html, body { 
    margin: 0 0 0 0; padding: 0 0 0 0;
    overflow-x: hidden;
} 
body { 
    backface-visibility: hidden;
    overflow-y: hidden;
    min-height:100vh;
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    max-width:100%;
    background: url("../images/global/bg/BG_xsmall_L.png") no-repeat left top,
                url("../images/global/bg/BG_xsmall_R.png") no-repeat right top, 
                #F6EEE4;
    background-size: 27.2vw auto;  
    font-family: "Arima Madurai", cursive;
    font-weight: 400;
    color:#6B331D;    
}

    html body a:-webkit-any-link, html body a:visited, html body a:active {
        text-decoration: none;
        color:#6B331D;
    } 
    html body a:hover {
        text-decoration: underline;
        color:#6B331D;
    }
    nav {
        padding: 1.49vw 2.23vw 0px;
        display:flex;
        justify-content: center;
        letter-spacing: .005em;
        flex-direction: column;
        margin-top:5vh;
    }
        #HomeLink {
            text-align: center;
            font-size: 1.75em;
            line-height: 1.33em;
        }
        #PageLinks {
            text-align: center;
        }
            #PageLinks a {
                margin-left:30px;
                font-size: 1.125em;
                line-height: 1.61em;
                margin-right:30px;
            }
    footer {
        display: flex;
        justify-content: flex-end;
        box-sizing: border-box;
    }
        footer div {
            font-size: .75em;
            line-height: 1.42em;
            letter-spacing: .0035em;
            padding-right:20px;
            margin-top: -18px;
        }
/*End Global Elements*/

/*Home page specific*/
    .mainContent {
        display:flex;
        align-items:stretch;
        justify-content: center;
        flex-grow: 2;
    }
    #home-mainContent {
        margin-top:5vh;
    }
        .flourish {
            width: 33.33vw;
            height: 57vh;
            min-height: 69vw;
        }
        img#flourish-L {
            margin-right:-16vw;
            margin-left:5vw;
        }
        #circleMask {
            position:relative;
            width: 58.37vw;
            height: 48vh;/*had to add the top margin value to account for missing height*/
            min-height: 58.37vw;
            background-color: #8D6B54;
            border-radius:55%/55%;
            border: 3px solid #8D6B54;
            overflow: hidden;
            z-index: 2;
            margin-top:6vh;
        }
            @keyframes zoomNfade {
                0% {
                    transform: scale(1, 1);
                }
                70% {
                    opacity: 1;
                }
                75% {
                    transform: scale(.86, .86);
                }
                100% {
                    transform: scale(.86, .86);
                    opacity:0;
                }
            }
            .addAnimation {
                animation: zoomNfade 4s ease-in-out;
            }
            #imageContainer {
                position:absolute;
                width:56vh;
                height:56vh;
                min-height: 68.1vw;
                min-width: 68.1vw;
                top: 50%;;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
                #imageContainer img {
                    position:absolute;
                    width:56vh;
                    height:56vh;
                    min-width: 68.1vw;
                    min-height: 68.1vw;
                    transform: scale(1,1);
                }
                #circleMask img:nth-child(1) {
                    z-index:6;
                }
                #circleMask img:nth-child(2) {
                    z-index:5;
                }
                #circleMask img:nth-child(3) {
                    z-index:4;
                }
                #circleMask img:nth-child(4) {
                    z-index:3;
                }
                #circleMask img:nth-child(5) {
                    z-index:2;
                }
                #circleMask img:nth-child(6) {
                    z-index:1;
                }
        img#flourish-R {
            margin-left:-16vw;
            margin-right:3vw;
        }
/*End Home page*/  

/*Portfolio Page Specific*/    
.portfolioPage{
    max-height: 100vh;
}    
    @keyframes appear{
        0% {opacity:0;}
        100% {opacity:1;}
    }
    @keyframes disappear {
        0% {opacity: 1;}
        100% {opacity:0;}
    }
    
    .image-details-appear {
        animation: .25s ease-in 0s forwards appear;
    }
    .image-details-disappear {
        animation: .25s ease-out 0s forwards disappear;
    }
    #image-details {
        position: absolute;
        width: 100vw;
        height:100vh;
        background-color:  rgba(12, 6, 4, 0.9);
        background-blend-mode: multiply;
        display:flex;
        flex-direction: column;
        flex-grow: 1;
        color:white;
        touch-action: none;
        align-items: center;
        display:none;
    }
        #image-details header {
            display:flex;
            justify-self: start;
            flex-direction: row;
            justify-content: center;
            width:100%;
            padding-top:10px;
            padding-bottom:10px;
            border-bottom: solid 1px rgba(255,255,255,0.4);
        }
        #image-details header #image-title {
            justify-self: end;
            font-style: italic;
        }
        #closebox {
            width:1.5em;
            height:1.5em;
            background-color: rgba(255,255,255,0.8);
            border-radius: 20.8%;
            position:absolute;
            right:15%;
            cursor: pointer;
        }
        #closebox::before, #closebox::after {
            position: absolute;
            top:43.5%;
            width:100%;
            height:16.667%;
            border-radius: 41.667%/250%;
            content:"";
            background-color:rgba(12, 6, 4, 0.9);
        }
        #closebox::before {
            transform: rotate(45deg);
        } 
        #closebox::after {
            transform: rotate(-45deg);
        }
        #image-details #previewArea {
            display: grid;
            justify-self: stretch;
            flex-grow: 2;
            min-height:0px;
            height:100%;
            width:100%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto minmax(50px, 10%);
        }
            #previewArea #previousButtonArea {
                display:grid;
                grid-column-start: 1;
                grid-row-start: 2;
            }
                .hitbox {
                    fill: #F6EEE4;
                    fill-opacity: 0.8;
                    min-width:50px;
                    min-height:50px;
                    width: 5vw;
                    height: 5vw;
                    max-height: 100%;
                    max-width: 80px;
                    cursor:pointer;
                }
                #previousButtonArea #previousButtonImage {
                    display: grid;
                    justify-self: end;
                    margin-right: 15px;
                }
            
            #previewArea #image-display {
                display:flex;
                justify-self: stretch;
                flex-grow: 2;
                align-items: center;
                justify-content: center;
                min-height:0px;
                height:100%;
                width:100%;
                overflow: hidden;
                grid-column-start: 1;
                grid-column: span 2;
                grid-row-start:1;
            }
                #image-container {
                    display:flex;
                    flex-shrink:0;
                    justify-content: center;
                }
                    #image-image {
                        width:100%;
                        height:100%;
                        max-width:1500px;
                        object-fit: contain;
                        filter: drop-shadow(0px 0px 15px black);
                    }
                    @keyframes sizeout {
                        0%  {filter: none;}
                        25% {filter:drop-shadow(0 -3px 0 #cccccc) drop-shadow(0 3px 0 #cccccc) drop-shadow(-3px 0 0 #cccccc) drop-shadow(3px 0 0 #cccccc); }
                        50% {filter:none;}
                        75% {filter:drop-shadow(0 -3px 0 #cccccc) drop-shadow(0 3px 0 rgba(255,255,255,0.9)) drop-shadow(-3px 0 0 #cccccc) drop-shadow(3px 0 0 #cccccc); }
                        100% {filter:none;}
                    }
                    .size-out {
                        animation: sizeout .5s linear;
                    }
            #previewArea #nextButtonArea {
                display: grid;
                grid-column-start: 2;
                grid-row-start: 2;
            }
                #nextButtonArea #nextButtonImage {
                    display:grid;
                    justify-self: start;
                    margin-left: 15px;
                    transform: scaleX(-1);
                }
        #image-details .image-instructions {
            justify-self: end;
            width:100%;
            text-align: center;
            border-top: solid 1px rgba(255,255,255,0.4);
        }
            #PageLinks a.portfolioLink {
                background-color: #30170E;
                padding-left:15px;
                padding-right: 15px;
                margin-left:15px;
                margin-right:15px;
                padding-top: 5px;
            }    
            html body a.portfolioLink, html body a.portfolioLink:-webkit-any-link, 
            html body a.portfolioLink:visited, html body a.portfolioLink:active {
                color:white;
            }
    #portfolio-mainContent {
        flex-direction: column;
        justify-content: flex-start;
        flex-grow: 1;
        align-items: center;
        font-size: 0.875em;
        line-height: 1.643em;
        min-height:0px;
    }
        #portfolioSubnav {
            width:100vw;
            max-width: 100%;
            width:100vw;
            padding-left:4%;
            padding-right:4%;
            display: flex;
            flex-direction: row;
            align-self: flex-start;
            justify-self: center;
            justify-content: space-between; 
            align-items: center;
            height: min-content;       
            background-color: #30170E;
            text-align: center;       
        }
            #portfolioSubnav a {
                color:white;
                margin: 6px 15px;
            }
            html body a.selectedGallery:-webkit-any-link  {
                text-decoration: underline !important;
                font-weight: bold;
            }
        .instructions {
            font-weight:300;
            width:100vw;
            align-self: flex-start;
            text-align: center;
            height: 1.643em;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .gallery {
            width: 100vw;
            display: none;
            flex-direction: column;
            min-height:0px;
            height:100%;
            align-items: center;
            overflow-y: scroll;
        }
        .showingGallery {
            display: flex;
        }
        @keyframes gallery-fade {
            0% {
                opacity: 1;
            }
            100% {
                opacity:0;
            }
        }
        .gallery-fade-out {
            animation: gallery-fade 0.3s linear;
            /*animation-fill-mode: forwards;*/
        }
        .gallery-fade-in {
            animation: gallery-fade 0.5s linear reverse;
        }
            .galleryImages {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width:290px;
                height:100%;
                min-height:0;
                cursor: pointer;
            }
            .gallery .galleryImage {
                width:145px;
                height: 185px;
                overflow:hidden;
            }
    footer.portfolioFooter {
        margin-top: 5px;
    }
/*End Portfolio Page*/

/*About Page Specific*/
    .aboutPage {
        max-height: 100vh;
        overflow-y: auto;
    }
            #PageLinks .aboutLink {
                text-decoration: underline;
            }
            #about-mainContent {
                overflow-y: hidden;
            }
            #about-content-container {
                width: 100vw;
                display:flex;
                flex-direction: column;
                overflow-y: auto;
                padding: 10px 5px 0;
                padding-left: 8vw;
                padding-right:8vw;

            }
                
                #email-link {
                    width: 100%;
                    text-align: center;
                }
                    #email-link a {
                        text-decoration: underline;
                    }
                #bio {
                    display: flex;
                    flex-direction: column;
                    overflow-y: auto;
                }
                #profile-picture {
                    margin: 14px 10px 0 0;
                    float: left;
                }
                    #profile-picture img {
                        width: 170px;
                        height:auto;
                        display:block;
                    }
                #bioText {
                    clear: right;
                    margin-top:10px;
                    letter-spacing: .035em;
                    line-height: 1.375em;
                    
                }
                #bioText p {
                    margin-top: 0px;
                    margin-bottom:12px;
                }
        .aboutPage footer {
            margin-top: 23px;
        }
/*End About Page*/
@media only screen and (hover: none) {
    .portfolioPage {
        max-height: calc(var(--vh, 1vh)*100);
    }
    #image-details {
        height: calc(var(--vh, 1vh)*100);
    }
}

@media (hover:none) and (pointer:coarse) {
    #image-details #previewArea {
        grid-template-columns: 3fr 1fr;        
    }
}

@media only screen and (min-width: 600px) {
/*Global Elements*/
        nav {
                flex-direction: row;
                justify-content: space-between;
                margin-top: 0;
            }
            #HomeLink {
                font-size: 1.5em;
            }
            #PageLinks a {
                margin-left:15px;
                margin-right:15px;
            }
/*End Global Elements*/

/*Home Elements*/
        #home-mainContent {
            margin-top:7vh;
        }
/*End Home Elements*/

/*Portfolio Page Specific*/
            #PageLinks a.portfolioLink {
                padding-bottom:3px;
                padding-top: 9px;
            }
/*End Portfolio Page*/

/*About Page Elements*/
                #profile-picture {
                    width: 33%;
                    margin-right: 3%;
                }
                    #profile-picture img {
                        width: 100%;
                        height:auto;
                        
                    }
/*End About Page*/
}

@media only screen and (min-width: 600px) and (min-aspect-ratio: 9/10){
/*Global elements*/
    body { 
        background:  url("../images/global/bg/BG_hxsmall_L.png") no-repeat left top,
                     url("../images/global/bg/BG_hxsmall_R.png") no-repeat right top, 
                     #F6EEE4;  
        background-size: 31.55vw auto;
    }
            #HomeLink {
                font-size: 1.5em;
            }
            #PageLinks a {
                margin-left:15px;
                margin-right:15px;
            }
/*End Global Elements*/

/*Home page specific*/            
        #home-mainContent {
            margin-top:5vh;
        }
            .flourish {
                width: 36vh;
                height: 75vh;
                margin-top: 0px;
                min-height: 25vh;
                max-height: 61vw;
                max-width: 25vw;
            }
            img#flourish-L {
                margin-right:-9vw;
            }
            #circleMask {
                width: 55vh;
                max-width: 50vw;
                height: 61vh;
                min-height: unset;
                max-height: 55vw;
                /* border-radius:16.4vw; */
                margin-top:2.96vw;
            }
                #imageContainer {
                    width:75vh;
                    height:75vh;
                    min-width:unset;
                    min-height:unset;
                    max-height: 68vw;
                    max-width:68vw;
                }
                    #imageContainer img {
                        width:75vh;
                        height:75vh;
                        min-width: unset;
                        min-height:unset;
                        max-height:68vw;
                        max-width: 68vw;
                    }
            img#flourish-R {
                margin-left:-9vw;
            }
            footer div {
                margin-top:-2.96vw;
            }
/*End Home page*/  

/*Portfolio Page Specific*/
    #PageLinks a.portfolioLink {
        padding-bottom:3px;
        padding-top: 9px;
    }
            .galleryImages {
                width: 580px;
            }
        footer.portfolioFooter div {
            margin-top: 0;
        }
/*End Portfolio Page*/          
}

@media only screen and (min-width: 768px) {
/*Global elements*/
            #HomeLink {
                font-size: 1.875em;
                line-height:1.067em;
            }
            #PageLinks a {
                margin-left:15px;
                margin-right:15px;
                font-size: 1.5em;
                line-height: 1.333em;
            }
            footer div {
                font-size: 1em;
                line-height: 1.25em;
                margin-top:-3.5vw;
            }
/*End Global elements*/
/*Home Page Elements*/
    #circleMask {
        border: 8px solid #8D6B54;
        border-width: 2.2vh 0.7vh;
    }
/*End Home Page elements*/
/*Portfolio Page Elements*/
        .galleryImages {
            width: 648px;
        }
        .gallery .galleryImage {
            width:216px;
            height: 275px;
            overflow-y: hidden;
        }
/*End Portfolio Page*/ 

/*About Page Elements*/
            #about-content-container {
                padding-left: 10vw;
                padding-right: 10vw;
                margin-top: 20px;
                font-size: 1.125em;
            }
/*End About Page*/
}

@media only screen and (min-width: 768px) and (max-aspect-ratio: 11/10){
/*Global elements*/
    body { 
        background:  url("../images/global/bg/BG_small_L.png") no-repeat left top,
                     url("../images/global/bg/BG_small_R.png") no-repeat right top, 
                     #F6EEE4;
        background-size: 31.55vw auto;   
    }          
/*End Global Elements*/

/*Portfolio Page Specific*/
    #PageLinks a.portfolioLink {
        background-color: inherit;
        color: #30170E;
        text-decoration: underline;
        padding: 0;
    }
        #portfolioSubnav {
            height: 40px;       
            background-color: inherit; 
            margin-top:40px;
            font-size: 1.72em;
            padding-left: 77px;
            padding-right:77px;
        }
            #portfolioSubnav a {
                color:#6B331D;
                margin: 6px 0px;
            }
            .instructions {
                font-size: 1.5em;
                margin-top:15px;
            }
            html body a.selectedGallery:-webkit-any-link  {
                text-decoration: underline !important;
                font-weight: bold;
            }
        footer.portfolioFooter div {
            margin-top: 0;
        }
/*End Portfolio Page*/
}
@media only screen and (min-width: 900px) {
        #closebox {
            right:20%;
        }
}
@media only screen and (min-width: 900px) and (min-aspect-ratio: 11/10) {
/*Global elements*/
body { 
    background:  url("../images/global/bg/BG_large_L.png") no-repeat left top,
                 url("../images/global/bg/BG_large_R.png") no-repeat right top, 
                 #F6EEE4;
    background-size: 32.91vw auto;   
} 
            footer div {
                margin-top:-2.25vw;
            }
/*End Global Elements*/

/*Home page specific*/ 
        #home-mainContent {
            margin-top:3.51vh;
        }
            
/*Portfolio Page Specific*/   
    #PageLinks a.portfolioLink {
        background-color: inherit;
        color: #30170E;
        text-decoration: underline;
        padding: 0;
    }
        #portfolioSubnav {
            background-color: inherit; 
            margin-top:35px;
            font-size: 1.72em;
            padding-left: 150px;/*CONVERT TO EM??*/
            padding-right:150px;/*CONVERT TO EM??*/ 
        }
            #portfolioSubnav a {
                color:#6B331D;
                margin: 6px 0px;
            }
            .instructions {
                font-size: 1.5em;
                margin-top:20px;
                margin-bottom:10px;
            }
            html body a.selectedGallery:-webkit-any-link  {
                text-decoration: underline !important;
                font-weight: bold;
            }
            .galleryImages {
                width: 864px;
            }
/*End Portfolio Page*/           
}

@media only screen and (min-width:1200px) {
/*Global elements*/
body { 
    background:  url("../images/global/bg/BG_large_L.png") no-repeat left top,
                 url("../images/global/bg/BG_large_R.png") no-repeat right top, 
                 #F6EEE4;
    background-size: 35.13vw auto;   
} 
        #HomeLink {
            margin-left:3.85vw;
        }
        #PageLinks {
            margin-right:3.85vw;
        }
        footer div {
            margin-top:-2vw;
        }
/*End Global Elements*/

/*Portfolio Page Specific*/           
        #portfolioSubnav {
            background-color: inherit; 
            margin-top:20px;
            font-size: 1.72em;
            padding-left: 290px;
            padding-right:290px;
        }
            .instructions {
                margin-top:15px;
            }
            .galleryImages {
                width: 1000px;
            }
            .gallery .galleryImage {
                width:250px;
                height: 318px;
            }
/*End Portfolio Page*/

/*About Page Specific*/
            #about-content-container {
                padding-left: 15vw;
                padding-right: 15vw;
                font-size: 1.25em;
                line-height: 1.5em; 
            }
/*End About Page*/
}

@media only screen and (min-width: 1500px) {
/*Global elements*/
body { 
    background:  url("../images/global/bg/BG_xlarge_L.png") no-repeat left top,
                 url("../images/global/bg/BG_xlarge_R.png") no-repeat right top, 
                 #F6EEE4;
    background-size: 33.9vw auto;   
} 
            #HomeLink {
                font-size: 2.25em;
                line-height:1.125em;
                margin-left:10.9375vw;
            }
            #PageLinks {
                margin-right:10.9375vw;
            }
            #PageLinks a {
                margin-left:30px;
                margin-right:30px;
                font-size: 1.75em;
                line-height: 0.875em;
            }
/*End Global Elements*/

/*Home page specific*/ 
            img#flourish-L {
                margin-right:-7vw;
            }
            img#flourish-R {
                margin-left:-7vw;
            }
/*End Home page*/  

/*Portfolio Page Specific*/
        #portfolioSubnav {
            padding-left: 350px;
            padding-right: 350px;
            font-size: 2em;
        }
            .instructions {
                margin-top:25px;
            }
            .galleryImages {
                width: 1200px;
            }
            .gallery .galleryImage {
                width:300px;
                height: 382px;
            }
/*End Portfolio Page*/  

/*About Page Specific*/
            #about-content-container {
                padding-left: 20vw;
                padding-right: 20vw;
                font-size: 1.25em;
                line-height: 1.5em; 
            }
/*End About Page*/         
}

@media only screen and (min-aspect-ratio: 23/10) {
    img#flourish-R {
        margin-left: -3vw;
    }
    img#flourish-L {
        margin-right: -3vw;
    }
}
